<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>URL Shortener</h2>
    <% if (id) { %> <!-- Check if 'id' exists -->
        <p>URL Generated: https://localhost:3000/api/url/<%= id %>
        </p>
        <% } %>


            <div>
                <form method="post" action="/api/url">
                    <label for="">Enter Your Original URL</label>
                    <input type="text" name="url" placeholder="https://google.com">
                    <button type="submit">Genrate</button>

                </form>
            </div>
</body>

</html>