<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>

<body>
    <h1>signup</h1>
    <form action="/api/signup" method="post">
        <label for="">name</label>
        <input type="text" required name="name">
        <label for="">email</label>
        <input type="text" required name="email">
        <label for="">password</label>
        <input type="password" required name="password">
        <button type="submit">signup</button>
    </form>
</body>

</html>